table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.img {
  max-height: 1080px;
  max-width: 960px;
  position: absolute;
}

@media only screen and (max-width: 1300px) {
  .formcontainer{
    visibility: hidden;
  }
}
.table {
  position: absolute;
}

.footer>p{
  color: slategray;
  font-size: .7em;
}

.footer>p>a:visited, .footer>p>a {
  color: dodgerblue;
  text-underline-style: none;
}


input {
  width: 95%;
  font-size: 1em;
}

form {
  height: 100%;
  width: 100%;
}

form > p:first-child {
  font-size: 2em;

}

form > button {
  margin-top: 1vh  ;
}


.container{ display: flex;  margin: 0; width: 70vw; height: 100vh; overflow: auto; }

.formcontainer{ display:flex; margin: auto auto auto 3vw; float: right }

body, #root {  display: flex; width: 100vw; height: 100vh; }
