table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

.table {
  position: absolute;
}

.img {
  max-height: 100%;
  max-width: 70%;
  position: absolute;
  float:left;
}

input {
  width: 95%;
  font-size: 1em;
}

form {
  height: 100%;
  width: 100%;
}


.container{ display: flex;  margin: 0; width: 70vw; height: 100vh; overflow: auto; }

.formcontainer{ display:flex; margin: auto 10vw auto auto; width: 20vw; height: 30vh; float: right }

body, #root {  display: flex; width: 100vw; height: 100vh; }
